@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}
P {
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #C2DDC8, #99BFB3);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(111, 134, 127, 0.521);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #E2C547;
    text-align: center;
    text-shadow: 1px 1px #978431b2;
    font-size: 25px
}
div:hover {
    color: red;
}
.especial {
    text-decoration: none;
    color: black;
}
div {
    color: black;
}
.especial:hover {
    color: red;
}
.especial:active {
    color: darkred;
}
div:active {
    color: darkred;
}
footer > p {
    color: #ffffff;
    text-align: center;
    padding: 0px;
    margin: 7px;
}

   